node_modules
npm-debug.log
dist
data
data/
source
source/
destination
destination/
storage
storage/
backups
backups/
syncvault_data
syncvault_data/
syncvault_logs
syncvault_logs/
.git
.gitignore
.env
*.log
*.svb
DATAtest